# Ignore Arduino build files
*.o
*.a
*.so
*.d
*.elf
*.hex
*.bin
*.eep
*.map

# Ignore compiled object files
*.obj

# Ignore log files
*.log
*.txt

# Ignore temporary files created by the IDE
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment folders
venv/
env/

# Ignore system-specific files
.DS_Store
Thumbs.db
*.bak
*.swp

# Ignore Arduino libraries folder
/libraries/

# Ignore all HTML files, in case you're using them locally
*.html
